*
{
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
    text-decoration: none;
    padding: 0;
}
body
{
    background-color: #F5F5F5 !important;
}
p img{
    padding: 10px 0;
}
.post-content pre code,.post-content pre{
    white-space: pre;
    word-wrap: normal;
    border: none !important;
}
a:hover
{
    text-decoration: none;
}
@media (max-width: 768px)
{
    .container, .container-fluid
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
        overflow: hidden;
        width: 100%;
    }
}
.navbar a
{
    font-size: 16px;
    color: white;
}
.navbar a:hover
{
    color: #dddddd;
    text-decoration: none;
}
.navbar-my a
{
    padding:0 20px !important;
}
.header-description
{
    text-align: center;
    position: relative;
    background-image: url('https://ruiming.me/img/bg.jpg');
    width: 100%;
    background-size: cover;
}
.header-description img
{
    width: 250px;
    height: 250px;
    padding: 50px;
    border-radius: 50%;
}
.post
{
    list-style: none;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.post img
{
    max-width: 100%;
}
.post-title
{
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
    color: #333;
    font-weight: 500;
    line-height: 1.2;
}
.post-title a
{
    color: #333;
}
.post-title a:hover
{
    text-decoration: none;
    color: #333;
}
.post-content
{
    border-bottom: 1px solid #EEEEEE;
    word-wrap: break-word;
    color: #333;
    line-height: 1.6;
    overflow: hidden;
}
.post-content small
{
    float: right;
    padding: 10px 5px;
}
.post-content h1, .post-content h2, .post-content h3
{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.post-content h1, .post-title p
{
    font-size: 2.25em;
}
.post-content h2
{
    font-size: 1.75em;
}
.post-content h3
{
    font-size: 1.5em;
}
.post-content blockquote
{
    border-left: 2px solid #4CAF50;
    background: #F5F5F5;
    color: #555;
    font-size: 1em;
}
.post-content ul,.post-content ol
{
    margin-left: 3em;
    padding-left: 0;
}
.post-content ul li
{
    list-style: initial;
}
.post-meta
{
    display:block;
    width:100%;
    color: #A0A0A0;
    font-size: 13px;
    overflow: hidden;
    padding: 10px 0;
}
.post-meta span
{
    float: left;
    padding: 5px 10px;
    width: 50%;
}
@media (min-width: 992px)
{
    .post-meta span
    {
        width: 20%;
    }
}
.post-meta a
{
    float:right;
}

@media(max-width:992px) {
    .btn-design{
        display: block;
        width:100%;
        margin:10px 0;
    }
}
@media(min-width: 992px){
    .post-divide span
    {
        min-width:180px;
    }
}
.glyphicon:before
{
    margin-right: 8px;
}
.page
{
    text-align: center;
    overflow: hidden;
}
.pagination>li>span
{
    border:none !important;
}
.pagination li
{
    text-align: center;
}
.pagination li a
{
    margin: 0 !important;
    border: none !important;
}
.pagination li span
{
    margin: 0;
    border: none;
}
.pagination li
{
    border-radius: 50%;
    float: left;
    overflow: hidden;
    margin:0 14px;
}
.archive
{
    overflow: hidden;
    background-color: white;
}
.archive h2
{
    padding-left: 20px;
}
.archive p
{
    font-size:16px;
    padding: 10px 15px;
    margin: 0;
}
.archive a
{
    color: #367FA9;
    font-size: 15px;
}
.archive-name
{
    font-size: 16px;
    padding: 15px 20px;
    border-bottom: 1px solid #EEEEEE;;
}

.fix
{
    height:30px;
    background-color: #F5F5F5 !important;
}
.badge
{
    background-color: #337AB7 !important;
    margin-left: 5px;
}
.archive li
{
    list-style: none;
}
.archive-name span
{
    float:right
}
.btn-right
{
    margin: 20px 0;
}
.commentForm
{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.commentForm label
{
    padding: 5px 0;
}
.comment img
{
    width:80px;
    height:80px;
}
.comment
{
    padding-top:14px;
    border: 0;
    border-bottom: 1px solid #eee;
}
.comment:last-child
{
    border:none;
}
.comment-image
{
    width: 100px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.comment-message
{
    overflow: hidden;
    padding: 5px 10px 10px 10px;
}
.comment-meta
{
    display:block;
    width:100%;
    padding: 14px;
    color: #A0A0A0;
    font-size: 12px;
    overflow: hidden;
}
.comment-meta span
{
    min-width:180px;
}
.newComment
{
    margin: 20px 0;
    padding: 10px;
    background-color: white;
}
.newComment li:first-child
{
    border-top:none !important;
}
.btn-me
{
    margin: 5px 0;
}
.btn-submit
{
    margin: 20px 0 !important;
    width: 100%;
}
.form-underline
{
    background-color: #F5F5F5;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    margin: 10px 0;
    padding: 6px 12px;
    display: block;
    width: 100%;
    outline: none;
    word-wrap: break-word;
    color: #34495e;
    font-size: 16px;
    line-height: 1.6em;

}
input[class="form-underline"]:focus
{
    outline:none;
    border-bottom: 1px solid #87C6F9;
}
.table-my th
{
    min-width: 100px;
}
.bottom
{
    text-align: center;
    display:block;
    background-color: white;
    margin: 20px 0;
}
.checkbox
{
    float:left;
    padding:0 20px;
}
.archive_select
{
    min-width:150px;
    float:left;
    height: 34px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.edit_action
{
    overflow: hidden;
    margin:20px 0;
}
.edit_action button
{
    float:right;
    margin-left:20px;
}
.modal-dialog
{
    z-index: 9999;
}
/*
 * 强制更正css
 *
 */
#uploads-table th
{
    min-width: 80px !important;
}
.breadcrumb
{
    padding: 23px 15px !important;
    margin: 0 !important;
}
.CodeMirror, .CodeMirror-scroll, .editor-preview
{
    min-height: 600px !important;
    color: #34495e;
    font-size: 16px;
    line-height: 1.6em;
}